<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="profile-header-container">
                <div class="profile-header-img">
                    <img class="img-circle" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" />

                </div>
            </div>
        </div>
        <h2 class="h1-responsive">Hello, Im Beth!</h2>
        <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse neque nulla, iaculis iaculis laoreet et,
                auctor eu dui. In in libero non mi condimentum posuere vel vitae lectus. Suspendisse rutrum mauris nulla, sit
                amet ullamcorper lorem vehicula sed. Maecenas semper ligula quis tortor lacinia rhoncus. Quisque sem risus,
                fermentum et malesuada a, malesuada quis ante. Morbi interdum tempor eros, sit amet malesuada erat posuere
                eget.</p>
        <hr class="my-2">
        <p>To know more about me, click learn  more
        </p>
        <a class="btn btn-primary btn-lg" role="button">Learn more</a>
    </div>

</div>